.portfolio-vc {
  .hero-wrapper {
    top: -10vh;
    left: -10vw;
    position: relative;
    margin-bottom: -5vh;
  }

  .icon-group-wrapper {
    padding-top: 20px;
    text-align: center;
  }

  .projects-vc-wrapper {
    margin-top: -20px;
  }

  .typed-cursor{
    font-size: 30px;
  }
}
